#page-bg {
    background-color: rgb(255, 255, 255);
    padding-bottom: 2rem;
}
.card {
    min-width: 16em;
    max-width: 18em;
    margin-top: 30px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.light-border {
    border: solid .05rem  #e6e6e6;
}



.col-nav>ul li {
    border-bottom: solid .05rem  #e6e6e6;
    padding: .7em 1em;
}
.col-nav>ul li:last-child {
    border-bottom: none;
}

.checkbox label .checkbox-decorator {
    margin: -0.6em;
    
}

.col-nav-text {
    padding-left: 1em;
}

.nav-tabs .nav-link.active > .ripple-container{
    border-bottom: .214rem solid;
}

.rounded-btn {
    border: none;
    border-radius: 2em;
    padding: .7em 2.5em;
    box-shadow: 0 .06em 0.1em 0 rgb(180, 180, 180);
}
.rounded-btn:hover {
    cursor: pointer;
}
.nav-margin {
    margin: .5em 1em;
}
.bg-pink {
    background-color: #DA4FEA;
}
.bg-violet {
    background-color: #984FEA;
}
.bg-light-blue {
    background-color: #4FC1EA;
}

/* button hovers */
.btn-hover:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/* Screen width less than 576 */
@media only screen and (max-width: 576px) {
    .card {
        min-width: 100%;
    }
}



